In [14]:
import pandas as pd
df_movie = pd.read_pickle("D:/Project/ATiAI-speakeasy/data/df_movie.pkl")
df_movie['id'] = df_movie['uri'].apply(lambda x: x.split('/')[-1])
list_movies = df_movie['id'].tolist()
df =  pd.read_csv('D:/Project/ATiAI-speakeasy/dataset/14_graph.tsv', sep='\t', header=None)
df.columns = ['subject', 'predicate', 'object']
df['pid'] = df['predicate'].apply(lambda x: x.split('/')[-1])
df['pid'] = df['pid'].apply(lambda x: x.strip('>'))
df['oid'] = df['object'].apply(lambda x: x.split('/')[-1])
df['oid'] = df['oid'].apply(lambda x: x.strip('>'))
df['sid'] = df['subject'].apply(lambda x: x.split('/')[-1])
df['sid'] = df['sid'].apply(lambda x: x.strip('>'))
df['po'] = df.apply(lambda x: (x['pid'], x['oid']), axis=1)
df = df[['sid', 'po']]
df = df.groupby('sid')['po'].apply(list).reset_index()
df = df[df['sid'].isin(list_movies)].reset_index(drop=True)
df.to_pickle("D:/Project/ATiAI-speakeasy/data/df_movie_spo.pkl")

In [15]:
df = pd.read_pickle("D:/Project/ATiAI-speakeasy/data/df_movie_spo.pkl")

In [132]:
# knn
import csv
import numpy as np
import rdflib
from rdflib import RDFS, Graph

graph = Graph().parse('D:/Project/ATiAI-speakeasy/data/14_graph.nt', format='turtle')
# self.graph.parse('data/14_graph.nt', format='turtle')
ent2lbl = {ent: str(lbl) for ent, lbl in graph.subject_objects(RDFS.label)}
lbl2ent = {lbl: ent for ent, lbl in ent2lbl.items()}

entity_emb = np.load('D:/Project/ATiAI-speakeasy/data/ddis-graph-embeddings/entity_embeds.npy')
relation_emb = np.load('D:/Project/ATiAI-speakeasy/data/ddis-graph-embeddings/relation_embeds.npy')

with open('D:/Project/ATiAI-speakeasy/data/ddis-graph-embeddings/entity_ids.del', 'r') as ifile:
    ent2id = {ent.split('/')[-1]: int(idx) for idx, ent in csv.reader(ifile, delimiter='\t')}
    id2ent = {v: k for k, v in ent2id.items()}

df_movie = pd.read_pickle("D:/Project/ATiAI-speakeasy/data/df_movie.pkl")
df_movie['id'] = df_movie['uri'].apply(lambda x: x.split('/')[-1])
list_movies = df_movie['id'].tolist()
df_movie['emb'] = df_movie['id'].apply(lambda x: entity_emb[ent2id[x]])
df_movie.to_pickle("D:/Project/ATiAI-speakeasy/data/df_movie_emb.pkl")

In [127]:
from sklearn.neighbors import NearestNeighbors
from collections import Counter

topk=250
movie_ids = ['Q1393651', 'Q2036869']
X = df_movie['emb'].tolist()
nbrs = NearestNeighbors(n_neighbors=topk, algorithm='auto').fit(X)
reference_points = [df_movie[df_movie['id']==movie]['emb'].item().tolist() for movie in movie_ids]
rec_ids = []
for p in reference_points:
    _, indices = nbrs.kneighbors([p])
    rec_ids += indices[0].tolist()
    # print(indices)
top_recs = Counter(rec_ids).most_common(topk)

# distances, indices = nbrs.kneighbors(reference_points)
# list_of_movies = df_movie['sid'].values 
# rec_ids = [list_of_movies[i] for i in indices[0]]
# rec_ids = [rec for rec in rec_ids if rec not in movies]

In [128]:
top_recs = Counter(rec_ids).most_common(topk)
top_recs

[(20040, 2),
 (22770, 2),
 (295, 2),
 (19983, 2),
 (18283, 2),
 (17132, 2),
 (17192, 2),
 (18318, 2),
 (23471, 2),
 (17973, 2),
 (20319, 2),
 (3625, 2),
 (13209, 2),
 (2142, 1),
 (20196, 1),
 (20198, 1),
 (23110, 1),
 (4171, 1),
 (9619, 1),
 (2657, 1),
 (8832, 1),
 (5103, 1),
 (16245, 1),
 (9344, 1),
 (867, 1),
 (18478, 1),
 (9353, 1),
 (16777, 1),
 (20848, 1),
 (1838, 1),
 (6154, 1),
 (17397, 1),
 (15698, 1),
 (17109, 1),
 (22775, 1),
 (13008, 1),
 (22160, 1),
 (21708, 1),
 (24159, 1),
 (13572, 1),
 (21586, 1),
 (3096, 1),
 (21397, 1),
 (1195, 1),
 (6425, 1),
 (6870, 1),
 (20945, 1),
 (12911, 1),
 (19662, 1),
 (21336, 1),
 (4657, 1),
 (16650, 1),
 (7700, 1),
 (3673, 1),
 (7870, 1),
 (13096, 1),
 (13745, 1),
 (13001, 1),
 (13995, 1),
 (23185, 1),
 (2581, 1),
 (20616, 1),
 (24177, 1),
 (20086, 1),
 (17370, 1),
 (2559, 1),
 (699, 1),
 (21432, 1),
 (21575, 1),
 (4603, 1),
 (13538, 1),
 (16299, 1),
 (14696, 1),
 (710, 1),
 (15069, 1),
 (22878, 1),
 (21380, 1),
 (19553, 1),
 (6539, 1),
 (13092, 1),
 (23988, 1),
 (11274, 1),
 (2978, 1),
 (3963, 1),
 (2246, 1),
 (16502, 1),
 (20423, 1),
 (17131, 1),
 (14242, 1),
 (5100, 1),
 (20434, 1),
 (15650, 1),
 (470, 1),
 (8671, 1),
 (12191, 1),
 (17257, 1),
 (14461, 1),
 (10795, 1),
 (16840, 1),
 (14608, 1),
 (5148, 1),
 (7250, 1),
 (2985, 1),
 (22613, 1),
 (16760, 1),
 (14261, 1),
 (16599, 1),
 (2812, 1),
 (3816, 1),
 (16809, 1),
 (17647, 1),
 (15773, 1),
 (9080, 1),
 (4399, 1),
 (19557, 1),
 (2492, 1),
 (17213, 1),
 (24203, 1),
 (15193, 1),
 (3124, 1),
 (4537, 1),
 (16708, 1),
 (23571, 1),
 (8231, 1),
 (7379, 1),
 (15862, 1),
 (18648, 1),
 (13964, 1),
 (16089, 1),
 (19840, 1),
 (12118, 1),
 (5663, 1),
 (2298, 1),
 (16007, 1),
 (6288, 1),
 (2853, 1),
 (12996, 1),
 (14114, 1),
 (12264, 1),
 (1215, 1),
 (11143, 1),
 (20606, 1),
 (24005, 1),
 (22274, 1),
 (18470, 1),
 (3529, 1),
 (22121, 1),
 (23070, 1),
 (6253, 1),
 (12717, 1),
 (14841, 1),
 (5373, 1),
 (10898, 1),
 (254, 1),
 (20327, 1),
 (23028, 1),
 (19153, 1),
 (21879, 1),
 (11490, 1),
 (1836, 1),
 (9535, 1),
 (16592, 1),
 (5352, 1),
 (21180, 1),
 (4699, 1),
 (2979, 1),
 (5099, 1),
 (16029, 1),
 (17586, 1),
 (21230, 1),
 (1815, 1),
 (16683, 1),
 (5617, 1),
 (1058, 1),
 (4567, 1),
 (6909, 1),
 (14408, 1),
 (8758, 1),
 (4649, 1),
 (5813, 1),
 (24173, 1),
 (21631, 1),
 (3248, 1),
 (2472, 1),
 (4608, 1),
 (6100, 1),
 (3258, 1),
 (24062, 1),
 (7311, 1),
 (10910, 1),
 (12690, 1),
 (15023, 1),
 (16524, 1),
 (1316, 1),
 (23252, 1),
 (13135, 1),
 (23849, 1),
 (20309, 1),
 (20427, 1),
 (588, 1),
 (420, 1),
 (22764, 1),
 (1188, 1),
 (19000, 1),
 (8047, 1),
 (22901, 1),
 (14068, 1),
 (21323, 1),
 (6945, 1),
 (7373, 1),
 (12315, 1),
 (7584, 1),
 (23791, 1),
 (23427, 1),
 (1917, 1),
 (14411, 1),
 (16353, 1),
 (13037, 1),
 (12500, 1),
 (10932, 1),
 (7736, 1),
 (13925, 1),
 (5692, 1),
 (1185, 1),
 (6647, 1),
 (15226, 1),
 (19555, 1),
 (8130, 1),
 (8378, 1),
 (5372, 1),
 (8373, 1),
 (19830, 1),
 (19303, 1),
 (17145, 1),
 (9991, 1),
 (2951, 1),
 (17477, 1),
 (15053, 1),
 (3228, 1),
 (11036, 1),
 (5543, 1),
 (15723, 1),
 (23554, 1),
 (13253, 1),
 (13894, 1),
 (24322, 1),
 (7436, 1),
 (21283, 1),
 (13486, 1),
 (15123, 1)]

In [133]:
pd.read_pickle("D:/Project/ATiAI-speakeasy/data/df_movie_emb.pkl")

,uri,label,id,emb
0,http://www.wikidata.org/entity/Q1000825,Jan Dara,Q1000825,"[-186.43588, -186.0038, -54.57119, 74.79744, -..."
1,http://www.wikidata.org/entity/Q1001777,Moondram Pirai,Q1001777,"[-25.526804, -209.46474, 240.5892, 201.7048, -..."
2,http://www.wikidata.org/entity/Q1001943,"Buffalo Bill and the Indians, or Sitting Bull'...",Q1001943,"[-220.76288, -60.65309, -143.36342, 209.50555,..."
3,http://www.wikidata.org/entity/Q100232971,What We Wanted,Q100232971,"[-138.72667, -176.05641, 17.257284, 209.66061,..."
4,http://www.wikidata.org/entity/Q1002480,Wanted: Dead or Alive,Q1002480,"[-180.09285, -175.36699, -95.505936, 235.52911..."
...,...,...,...,...
24379,http://www.wikidata.org/entity/Q23010088,Spider-Man: Homecoming,Q23010088,"[-129.6324, -236.38158, -60.826782, 243.55312,..."
24380,http://www.wikidata.org/entity/Q17738,Star Wars: Episode IV – A New Hope,Q17738,"[-97.96905, -186.11058, -100.17005, 78.66787, ..."
24381,http://www.wikidata.org/entity/Q23781155,Avengers: Endgame,Q23781155,"[-103.17614, -152.22154, 95.77184, 216.63011, ..."
24382,http://www.wikidata.org/entity/Q19590955,Rogue One,Q19590955,"[-111.4378, -18.665018, 11.809444, 196.4732, -..."
24383,http://www.wikidata.org/entity/Q77855044,Women Make Film,Q77855044,"[-68.7098, -30.157288, 20.28563, 70.805336, -1..."

In [138]:
df_movie['label'] = df_movie['label'].str.lower()
df_movie[df_movie['label'].str.contains('pocahontas')]

Empty DataFrame
Columns: [uri, label, id, emb]
Index: []

In [ ]:
for i in top_recs:
    print(df_movie.iloc[i[0]]['label'])

The Tempest
Quiz Show
Swing Kids
The Other Boleyn Girl
A Room with a View
Sibling Rivalry
Dying Young
Love's Labour's Lost
Sense and Sensibility
The Golden Bowl
Much Ado About Nothing
Jefferson in Paris
Dancing at Lughnasa
Hamlet
Claire Dolan
Make Your Move
The Wrestler
A Perfect Man
Alive
O
The Bling Ring
Broken Flowers
Chelsea Walls
Teknolust
Cradle Will Rock
Moonrise Kingdom
Walking and Talking
The Life Aquatic with Steve Zissou
Michael Clayton
Before the Devil Knows You're Dead
The Phenom
Gods Behaving Badly
The Hurricane
The House of Mirth
Great Expectations
Snow Falling on Cedars
Charlotte's Web
The Ice Storm
The Bourne Identity
Wendigo
Rent
Trainwreck: My Life as an Idiot
Breakfast of Champions
Angela's Ashes
The Accidental Husband
Clockwatchers
The Pelican Brief
Until the End of the World
The Baby-Sitters Club
Che Part 1: The Argentine
The Night Listener
City of Ember
Animal Factory
Picking Up the Pieces
Barry
The Life of David Gale
Find Me Guilty
My Week with Marilyn
Inhale
Bridge of Spies
Blue Caprice
The Thirteenth Floor
Hulk
The Goldfinch
The Last Days of Disco
Gloria
Stuck
Extremely Loud and Incredibly Close
What About Bob?
Marie and Bruce
Mao's Last Dancer
The Cowboy Way
Yes
Half Nelson
The Cool World
The Good Dinosaur
The Great Gatsby
The Butler
Mister Lonely
To Die For
The Bourne Ultimatum
Cold Souls
Matinee
Breathe In
Five Dollars a Day
My One and Only
Body of Lies
A Midsummer Night's Sex Comedy
Lantana
The Limits of Control
Hollywood Ending
Foxes
Prime
Oscar
Cosi
One True Thing
Patrick
The 6th Man
The Pledge
Rich in Love
Maggie's Plan
The Hottest State
Pawn Sacrifice
Bottle Rocket
Analyze This
The State of Things
Chain of Fools
Manny & Lo
Interview
Dark Water
Paris, Texas
U Turn
Scorched
Storytelling
The Eternal
Cymbeline
Mighty Aphrodite
Interstellar
The Ministers
Please Give
The Great Debaters
The Horse Whisperer
Dead Poets Society
The Upside
Hyde Park on Hudson
Synecdoche, New York
Sonny
The Passion of Darkly Noon
Bullet
Tolkien
Breaking Dawn
Company Man
Flirting with Disaster
Box of Moonlight
Little Men
In the Bedroom
Love and Other Disasters
Marilyn Hotchkiss' Ballroom Dancing and Charm School
Havoc
The Duellists
Life Is Hot in Cracktown
Gloria
War for the Planet of the Apes
The Cloverfield Paradox
The Dark Tower
The Thin Blue Line
The Twelve Chairs
Little Shop of Horrors
28 Days
Girlfriends
A Lot Like Love
Nightingale
Trixie
His Girl Friday
Deconstructing Harry
The Man in the Iron Mask
The Imposter
Simpatico
It's All About Love
Then She Found Me
The Kindness of Strangers
Crossing the Bridge
Saving Silverman
Sweet and Lowdown
The Intern
A Guide to Recognizing Your Saints
Mercy Streets
The Guardian
Get on Up
Basquiat
Riding in Cars with Boys
Five Easy Pieces
Sleep Dealer
The Soloist
My Boyfriend's Back
Puerto Ricans in Paris
Off the Map
Next Stop Wonderland
Last Dance
Staten Island
The Hunger Games: Mockingjay – Part 1
Collateral
Life of a King
The Good German
Seabiscuit
Colossal
A Most Violent Year
Ghostbusters
Sarafina!
Shakedown
After the Wedding
The East
Miracle at St. Anna
The War Boys
Lion
Longtime Companion
Mulan
Frances Ha
The Call of the Wild
When in Rome
Sunshine Cleaning
Death Race 2000
Concussion
Lean on Pete
Pure
Beastly
Prozac Nation
Confessions of a Shopaholic
Heavy
Clean, Shaven
Deep Dark Canyon
Hut in the Woods
New York Stories
Jojo Rabbit
Courage Under Fire
Arthur
W.
Fools Rush In
Bongwater
Country Life
Bob & Carol & Ted & Alice
The House on Carroll Street
Swingers
Chicago 10
Nadja
The Full Monty
Dallas Buyers Club
Angie
Puccini for Beginners
Manchester by the Sea
The Old Man and the Gun
Coffee and Cigarettes II
Mimic 3: Sentinel
Killer Elite
The Only Thrill
The First $20 Million Is Always the Hardest
The Proposition
The Boys
Hardball
Curtain Call
Old Joy
Lords of Dogtown
Elf
The Pallbearer
Leonie
The Big Lebowski
The Doctor
Meet Dave
Evelyn
The Gun in Betty Lou's Handbag

In [ ]:
for rec in top_recs:
    id = rec[0]

In [146]:
for id in ['Q820811','Q15733440','Q1512857','Q1301177','Q606467','Q122713']:
    print(df_movie[df_movie['id']==id]['label'])
# df_movie[df_movie['id'] in ]

15632    final destination 3
Name: label, dtype: object
23612    annabelle
Name: label, dtype: object
17474    the unborn
Name: label, dtype: object
1727    prom night
Name: label, dtype: object
20523    darkness falls
Name: label, dtype: object
21754    insidious
Name: label, dtype: object